.course:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.course-link {
    color: #000 !important;
    text-decoration: none
}

.texture{
    background-image: url(/static/images/Текстура.jpg);
    background-size: 50% auto;
}

.textureCard{
    background-image: url(/static/images/card2.jpg);
    background-size: 95% auto;
}

.textureY{
    background-image: url(/static/images/Текстура2.png);
    background-size: 50% auto;
}

.textured-text {
    background-image: url(/static/images/Текстура2.png);
    background-clip: text;
    -webkit-background-clip: text; /* Добавьте это для поддержки вебкит-браузеров */
    color: transparent;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 5px;
    animation: slideIn 0.5s ease-in-out forwards, fadeOut 2s 1.5s ease-in-out forwards;
    display: none;
}

button.for-button {
    background-color: #3c4af5;
    color: aliceblue;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Для плавного пролистывания */
    width: 100%;
    /*max-width: 800px; !* Максимальная ширина слайдера *!*/
    border: 2px solid #ccc; /* Граница слайдера */
    border-radius: 10px; /* Закругленные углы */
    background-color: white; /* Цвет фона слайдера */
}

.slide {
    min-width: 50vw; /* Минимальная ширина слайда */
    min-height: 33.33vw; /* Высота слайда с учетом соотношения 1.5:1 */
    position: relative; /* Для размещения изображения внутри слайда */
    scroll-snap-align: start; /* Для корректного выравнивания */
}

.slide img {
    width: 100%; /* Ширина изображения */
    height: auto; /* Автоматическая высота для сохранения соотношения сторон */
    border-radius: 10px; /* Закругленные углы изображений */
}

.scale-56 {
    transform: scale(0.56);
    transform-origin: top left; /* Или center, если нужно */
}